<section is="rich-text" {% if section.settings.show_colour == true %}class="alternative"{% endif %}>
    {%- if section.settings.heading != blank -%}
      <h3>{{ section.settings.heading }}</h3>
    {%- endif -%}
    {%- if section.settings.text != blank -%}
      {{ section.settings.text }}
    {%- endif -%}
</section>
