section[is="hero"] {
  background-color: hsl(var(--hero));
  margin-inline: -1rem;
  padding: 2.5rem 1rem 2rem;

  & > div {
    & > h1,
    & > p {
      color: hsl(var(--on-hero));
    }
  }

  @media (min-width: 40em) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: -2rem;
    padding: 3rem;
    place-items: center;

    & > img {
      order: 2;
    }

    & > div {
      max-inline-size: 30rem;
      order: 1;

      & > h1 {
        margin-block-start: 0;
      }

      & > p {
        margin-block-end: 0;
      }
    }
  }
}
