section[is="image-with-text"] {
  display: grid;
  margin-block: 4rem;

  @media (min-width: 50em) {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    &.alternative {
      & > img {
        grid-column: 2;
      }

      & > div {
        grid-column: 1;
      }
    }

    & > div {
      align-self: center;
      grid-column: 2;
      grid-row: span 2;

      & > h3 {
        margin-block-start: 0;
      }
    }

    & > img {
      align-self: center;
      grid-column: 1;
      grid-row: span 2 / -1;
    }
  }
}
