section[is="intro"] {
  align-items: center;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0 1rem 1rem;

  & > div {
    align-self: center;
    justify-self: center;
    max-inline-size: 40rem;
    text-align: center;

    & > h1,
    & > p {
      max-inline-size: 40rem;
    }
  }

  &.with-image {
    grid-template-rows: repeat(2, auto);

    & > div {
      justify-self: start;
      text-align: start;

      & > h1 {
        grid-row: 2;
        margin-block: 0;
        max-inline-size: 30rem;
      }

      & > img {
        grid-row: 1;
      }
    }

    @media (min-width: 40em) {
      align-items: center;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      & > div {
        align-self: center;
        grid-column: 1;
        grid-row: 1 / -1;
      }

      & > img {
        grid-column: 2;
        grid-row: span 2 / -1;
      }
    }
  }
}
