ul[is="logos"] {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  list-style: none;
  padding-inline-start: 0;

  & > li {
    background: hsl(var(--logo-list));
    display: grid;
    padding: 1rem;
    place-items: center;

    & > span {
      display: none;
    }
  }
}
