div[is="proceed-to-checkout"] {
  & > div {
    background-color: hsl(var(--product));
    inset-block-start: 2rem;
    margin-block-start: 1rem;
    padding: 1rem;
    position: sticky;

    & > button {
      inline-size: 100%;
      max-inline-size: 100%;
    }

    & > p {
      margin-block-end: 0;
    }
  }
}
