div[is="proceed-to-checkout"] {
  background-color: hsl(var(--background-secondary));
  border-radius: 0.25rem;
  padding: 2rem 1rem;

  & > button {
    inline-size: 100%;
    max-inline-size: 100%;
    padding-block: 1rem;
  }

  & > p {
    margin-block-end: 0;
  }

  @media (min-width: 40em) {
    align-self: flex-start;
    inset-block-start: 1rem;
    padding: 2rem;
    position: sticky;
  }
}
