article[is="product"] {
  margin-block-start: 2rem;

  & > h1 {
    margin-block-start: 0;
  }

  & > img:first-of-type {
    margin-block: 1rem;
  }

  & > form {
    background-color: hsl(var(--product));
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    inset-block-start: 0;
    inset-inline: 0;
    margin-block: 0;
    margin-inline: -1rem;
    padding: 1rem 1rem 0.5rem;
    position: sticky;
    z-index: 1;

    & > p {
      margin: 0;

      &:last-of-type {
        grid-column: 1 / -1;
        grid-row: 2;
        justify-self: center;
      }
    }

    & > button {
      inline-size: 100%;
      max-inline-size: 100%;
    }

    @media (min-width: 40em) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 1rem;

      & > p {
        &:last-of-type {
          grid-row: 3;
          margin-block-start: 0.48em;
        }
      }
    }
  }

  @media (min-width: 40em) {
    align-items: start;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr;

    & > * {
      grid-column: 1;
    }

    & > form {
      grid-column: 2;
      grid-row: 1 / span 2;
      inset-block-start: 1rem;
      margin-inline: 0;

      & > fieldset {
        & > div {
          & > h1 {
            overflow: visible;
            white-space: normal;
          }
        }

        & > p {
          margin-block-start: 0;
        }

        & > p,
        & > button {
          display: block;
          float: none;
        }
      }
    }

    & > img:first-of-type {
      margin-block: 0;
    }
  }
}
