a[is="product-promo"] {
  display: grid;
  grid-gap: 1rem;
  max-inline-size: 40rem;
  place-content: start;
  text-decoration: none;

  &:visited {
    & > h3 {
      color: hsl(var(--visited));
    }
  }

  &:focus-visible {
    background: none;
    box-shadow: none;

    & > h3 {
      background-color: hsl(var(--focus));
      box-shadow: 0 0 0 3px hsl(var(--focus));
    }
  }

  & > * {
    margin: 0;
  }

  & > h3 {
    color: hsl(var(--link));
    order: 2;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: hsl(var(--active));
    }
  }

  & > img {
    border-radius: 0.5rem;
    order: 1;
  }

  & > p {
    color: hsl(var(--text));
    font-size: 1.17em;
    order: 3;
  }
}
