section[is="rich-text"] {
  margin-block: 2rem;
  padding-block: 2rem;

  & > h1,
  & > h2,
  & > h3,
  & > p,
  & > ul,
  & > ol {
    margin-inline: auto;
    max-inline-size: 30rem;
  }

  &.alternative {
    background-color: hsl(var(--background-secondary));
    margin-block: 2rem 0;

    @media (min-width: 40em) {
      margin-inline: -2rem;
    }
  }
}
