section[is="section"] {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: -1rem;
  padding: 1.5rem 1rem 2rem;

  & > h2,
  & > p,
  & > a {
    grid-column: auto / span 1;
    justify-self: center;
    text-align: center;
  }

  & > h2 {
    grid-row: 1;
  }

  & > p {
    grid-row: 2;
  }

  & > a {
    grid-row: 4;
    padding-block: 1rem;
  }

  & > div[is="rich-text"] {
    margin-inline: auto;
    max-inline-size: 50rem;
  }

  &.alternative {
    background-color: hsl(var(--section));
    margin-block: 2rem 0;

    @media (min-width: 40em) {
      margin-inline: -2rem;
    }
  }

  @media (min-width: 40em) {
    padding-inline: 2rem;
  }
}
