div[is="shop-intro"] {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start;

  @media (min-width: 40em) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
