p[is="delivery"] {
  &.expanded {
    background-color: hsl(var(--triadic));
    border-radius: 0.5rem;
    color: hsl(var(--on-triadic));
    max-inline-size: 100%;
    padding: 2rem;

    & > a {
      color: hsl(var(--on-triadic));
    }
  }

  & > a {
    display: flex;
    margin-block-end: 0;

    & > svg {
      margin-inline-end: 0.5rem;
    }
  }
}
