section[is="hero"] {
  background-color: hsl(var(--hero));
  display: grid;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(2, auto);
  margin-inline: -1rem;
  overflow: hidden;
  padding: 1.5rem 1rem;
  position: relative;

  /*&::before {
    background-image: linear-gradient(
        hsl(var(--on-complementary) / 5%) 2px,
        transparent 2px
      ),
      linear-gradient(
        90deg,
        hsl(var(--on-complementary) / 5%) 2px,
        transparent 2px
      ),
      linear-gradient(hsl(var(--on-complementary) / 5%) 1px, transparent 1px),
      linear-gradient(
        90deg,
        hsl(var(--on-complementary) / 5%) 1px,
        transparent 1px
      );
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    content: "";
    inset: -3rem;
    position: absolute;
    transform: rotate(2.5deg);
  }*/

  & > h1 {
    color: hsl(var(--on-hero));
    grid-row: 2;
    margin-block: 0;
    max-inline-size: 30rem;
  }

  & > img {
    grid-row: 1;
    z-index: 1;
  }

  @media (min-width: 40em) {
    align-items: center;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    & > h1 {
      align-self: center;
      grid-column: 1;
      grid-row: 1 / -1;
      padding-inline-start: 2rem;
    }

    & > img {
      grid-column: 2;
      grid-row: span 2 / -1;
    }
  }
}
